doctype html
html(lang='ja')
head
  meta(charset='utf-8')
  title My Bike Calculator
body
  h1 My Bike Calculator
  section#calc-wrapper
    // calc.jade
  script(type='text/javascript', src='js/bundle.js')
